root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

# Linux kernel style: tabs, 8 columns wide (see .clang-format)
[client/**.{c,h}]
indent_style = tab
indent_size = 8
tab_width = 8

[*.md]
# trailing double-space is a markdown line break
trim_trailing_whitespace = false
